@font-face {
    font-family: "Vazir";
    src: local("Vazir"), url("./assets/fonts/vazir/Vazir-Regular-FD.eot") format("embedded-opentype"), url("./assets/fonts/vazir/Vazir-Regular-FD.ttf") format("truetype"), url("./assets/fonts/vazir/Vazir-Regular-FD.woff") format("woff"), url("./assets/fonts/vazir/Vazir-Regular-FD.woff2") format("woff2");
}

:root {
    --primaryColor: #373f50;
    --primaryColorDarker: #2b3445;
    --secondaryColor: #fe696a;
    --secondaryColor2: #ff5151;
    --lightSecondaryColor: #fcd1d1;
    --grayColor: #b5bcc2;
    --grayDarkColor: #58606f;
    --lightGrayColor: #e2e9ee;
    --lightLightGrayColor: #eff2f4;
    --lightColor: #fff;
    --darkColor: #4b4b4b;
    --blue: #69b7fd;
    --lightBlue: #f6f9fc;
    --lightBlue2: #e9f3fc;
    --yellow: #feab94;
    --lightYellow: #f7f2ee;
    --lightGreen: #e6f6f3;
    --green: #42d8b4;
    --purple: #545aca;
    --lightPink: #fff1f2;
}

body {
    margin: 0;
    font-family: "Vazir", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Vazir", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}